body {
    background-image: url('../images/backTechImage.jpg') ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
  }